body{
    margin: 0;
    padding: 0;
}
.container{
    background-image: linear-gradient(#032547,rgb(60, 60, 197));
    /* background-image: linear-gradient(190deg, rgb(6, 6, 58), rgba(0, 0, 252, 0.719)); */
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: .2vh;
}
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* background-color: #032547; */
}

.navbar ul li a {
    font-family: Matter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.container .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    margin-top: 13px !important;
    padding: 10px 2.5%;
    width: 90%;
    margin: auto;
    border-radius: 3px;
    box-shadow: .1px .8px .5px 0px #042647;
}

.logo{
    cursor: pointer;
    width: 115px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 3px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

/* .nav_links .button a{
    border: none;
    padding: 9px 10px;
    background-color: rgba(0, 136, 169, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
} */

/* .nav_links .button a:hover{
    background-color: rgba(0, 136, 169, 0.8);
} */

.la-bars{
    padding-top: 1px;
    color: white;
    font-size: 28px;
}

.container .content{
    margin-top: 6vh !important;
    width: 94.5%;
    /* border: solid thin white; */
    margin: auto;
}

.container .content .content_text{
    text-align: center;
    margin-bottom: 2vh;
}

.container .content .content_text h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    color: white;
    font-weight: 700;
    word-spacing: -1;
}

@media screen and (max-width: 300px){
    .container .content .content_text h1{
        font-size: 1.7em;
    }
    .logo{
        width: 108px;
    }
}

@media screen and (min-width: 370px){
    .container .content .content_text h1{
        font-size: 1.88em;
    }
}

@media screen and (min-width: 400px){
    .container .content .content_text h1{
        font-size: 2.3em;
    }
}

@media screen and (min-width: 430px){
    .container .content .content_text h1{
        font-size: 2.5em;
    }
}

.container .content .suggestion_part{
    /* border: solid thin white; */
    margin: auto;
    width: 93%;
    border-radius: 30px;
    height: 40vh;
    background-color: rgba(63, 61, 61, 0.288);
    /* box-shadow: rgba(211, 209, 209, 0.205) .1px 0px 0px .1px; */
    padding-top: 2vh;
}

.container .content .suggestion_part .house{
    /* border: solid 1px white; */
    width: 95%;
    height: 84%;
    margin: auto;
    overflow-y: scroll;
}

.container .content .suggestion_part .house .suggest{
    /* border: solid thin black;  */
    /* border: solid .8px white; */
    /* border: none; */
    height: 7vh;
    width: 93%;
    margin-bottom: 10px;
    border-radius: 7.8px;
    margin: auto;
    background-color: white;
    margin-bottom: 3%;
    box-shadow: rgba(187, 187, 187, 0.678) 1px 1px 1px .3px;
}

.container .content .suggestion_part .house .suggest a{
    display: flex;
}

.container .content .suggestion_part .house .suggest .image{
    /* border: solid .5px black; */
    /* border: none; */
    box-sizing: border-box;
    padding: auto;
    height: 7vh;
    width: 18.7%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    padding-top: 3%;
    padding-left: 1.3%;
}

.container .content .suggestion_part .house .suggest .image .image_box{
    margin: auto;
    /* border: solid .5px black; */
    /* border: solid; */
    /* background-color: rgba(190, 185, 185, 0.459); */
    width: 88%;
    height: 85%;
    border-radius: 6.8px;
    /* margin-top: 10%; */
    /* padding-top: 10.5%; */
    /* padding-left: 1.3%; */
}

.container .content .suggestion_part .house .suggest .description{
    /* border: solid .5px white; */
    /* border: solid .5px black; */
    padding-top: 1.8%;
    /* border: none; */
    height: 7vh;
    width: 82%;
}

.container .content .suggestion_part .house .suggest .topic{
    /* border: solid 1px black; */
    /* border: none; */
    height: 1.6vh;
    width: 96%;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    /* border-radius: 5px; */
    /* background-color: #6867676c; */
    padding-left: 5px;
    margin-left: .5%;
}

.container .content .suggestion_part .suggest .topic .topic_text{
    color: rgba(0, 0, 0, 0.829);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(0.66em + 1vmin);
    /* font-size: 1.85vh; */
   letter-spacing: 0.5px;
   font-weight: 700;
   /* border: solid black; */
   width: 50%;
   /* height: 2vh; */
   white-space: pre-line;
   line-height: 13px;
}

.container .content .suggestion_part .suggest .description_text{
    /* border: solid .5px white; */
    /* border: none; */
    /* border: solid 0.5px black; */
    height: 1.5vh;
    width: 85%;
    border-bottom-right-radius: 5px;
    padding-left: 6px;
    display: flex;
    justify-content: space-between;
    
}

.container .content .suggestion_part .suggest .description_text h3{
    font-size: 13.3px;
    font-weight: 700;
    color: rgba(119, 119, 119, 0.788);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.topic-icon{
    /* color: blue; */
    margin-top: 12.5%;
    width: 28px;
    height: 34px;
    /* margin:; */
}

@media screen and (min-width: 370px) {
    /* .topic-icon{
        font-size: 1.2em;
    } */
}

@media screen and (height: 667px) {
    .topic-icon{
        font-size: 1.1em;
    }
    .container .content .suggestion_part .suggest .image{
        border: solid .5px white;
        height: 5.8vh;
        width: 15%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        padding-top: 1.2%;
    }
}

@media screen and (max-width: 370px) {
    .container .content .suggestion_part{
        /* border: solid thin white; */
        margin: auto;
        width: 91%;
        border-radius: 30px;
        height: 40vh;
        background-color: rgba(63, 61, 61, 0.288);
        /* box-shadow: rgba(211, 209, 209, 0.205) .1px 0px 0px .1px; */
        padding-top: 2vh;
    }
    
    .container .content .suggestion_part .house{
        /* border: solid 1px white; */
        width: 95%;
        height: 84%;
        margin: auto;
        overflow-y: scroll;
    }
    
    .container .content .suggestion_part .house .suggest{
        /* border: solid thin black;  */
        /* border: solid .8px white; */
        /* border: none; */
        height: 7vh;
        width: 93%;
    }

    .container .content .suggestion_part .house .suggest .image{
        /* border: solid .5px black; */
        box-sizing: border-box;
        height: 7vh;
        width: 18.7%;
        text-align: center;
        padding-top: 2.6%;
        padding-left: .8%;
    }

    .container .content .suggestion_part .house .suggest .image .image_box{
        width: 88%;
        height: 86.3%;
        border-radius: 5px;
    }

    .topic-icon{
        margin-top: 6%;
        width: 28px;
        height: 33px;
    }

    .container .content .suggestion_part .house .suggest .description{
        /* border: solid thin black;  */
        padding-top: .8%;
        /* border: none; */
        /* height: 6vh; */
        width: 82%;
    }
    
    .container .content .suggestion_part .house .suggest .topic{
        /* border: solid 1px black; */
        /* border: none; */
        height: 1.6vh;
        width: 96%;
        /* border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; */
        /* border-radius: 5px; */
        /* background-color: #6867676c; */
        padding-left: 5px;
        margin-left: .5%;
    }
    
    .container .content .suggestion_part .suggest .topic .topic_text{
        color: rgba(0, 0, 0, 0.829);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: calc(0.595em + 1vmin);
        /* font-size: 1.85vh; */
       letter-spacing: 0.3px;
       font-weight: 700;
       /* border: solid black; */
       width: 50%;
       /* height: 2vh; */
       white-space: pre-line;
       line-height: 13px;
    }

    .container .content .suggestion_part .suggest .description_text{
        /* border: solid .5px white; */
        /* border: none; */
        /* border: solid 0.5px black; */
        height: 1.5vh;
        width: 85%;
        border-bottom-right-radius: 5px;
        padding-left: 6px;
        display: flex;
        justify-content: space-between;
        
    }
    
    .container .content .suggestion_part .suggest .description_text h3{
        font-size: 13.1px;
        font-weight: 700;
        color: rgba(119, 119, 119, 0.788);
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 14px;
        letter-spacing: 0.2px;
    }
}

.greenbcc{background-blend-mode: overlay; background-color: rgba(16, 185, 16, 0.315) !important;}
.silverbcc{background-blend-mode: overlay; background-color: rgba(172, 172, 172, 0.541) !important;}
.orangebcc{background-blend-mode: overlay; background-color: rgba(255, 166, 0, 0.356) !important;}
.blackbcc{background-blend-mode: overlay; background-color: rgba(82, 79, 79, 0.315) !important;}

.container .content .explore{
    position: relative;
    bottom: 13px;
}

.container .content .explore .explore_part{
    background-color: white;
    text-align: center;
    border: solid 1px white;
    margin: auto;
    padding-top: .13vh;
    width: 30%;
    height: 3vh;
    border-radius: 8px;
    /* display: inline-block; */
    /* display: flex; */
}

.container .content .explore .explore_part p{
    display: inline-block;
}


